body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, #4e73df, #1cc88a);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

h1 {
  text-align: center;
}

input {
  width: 70%;
  padding: 8px;
  margin-right: 5px;
}

button {
  padding: 8px 10px;
  border: none;
  background: #4e73df;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  background: #f8f9fc;
  padding: 8px;
  border-radius: 5px;
}

.delete-btn {
  background: #e74a3b;
}
.done {
  color: green;
  font-weight: bold;
}

.done-btn {
  background: #1cc88a;
  margin-right: 5px;
}
